.logo{
    font-size: 30px;
    color: blue;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #1d8091;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin-right: 8px;
}